{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<body style="background: url('{% static 'imagenes/background - Center.jpg' %}') no-repeat center center fixed; background-size: cover;"></body> 

<div class="text-center text-white">
<h1 class="m-0 text-center text-white" style="text-align: center;">Nueva Categoría:</h1>
</div>
<br>

<div class="text-center text-white">
<form class="m-0 text-center text-white" action="" method="POST">{% csrf_token %}

    {{form.as_p}}

    <button class="btn btn-primary" type="submit"> Guardar </button>

  </form>
</div>
{% endblock contenido %}